a.current {
	color: green;
	text-decoration: none;
	text-decoration-thickness: .05em;
}
a.not_current {
	color: gray;
	text-decoration: none;
    text-decoration-thickness: .05em;
}
a.current:hover, a.not_current:hover, a.current:active, a.not_current:active {
	text-decoration: orange wavy underline;
}
